.container {
  background-image: url("src/assets/bed 1.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-color: rgb(161, 97, 167);
  position: relative;
  width: 1280px;
  height: 720px;
}
