.container {
  background-image: url("src/assets/door.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-color: rgba(230, 223, 223, 0.913);
  position: relative;
  width: 1280px;
  height: 720px;
}
