.container {
  background-image: url("src/assets/bath 1.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-color: rgb(215, 148, 148);
  position: relative;
  width: 1280px;
  height: 720px;
}
