.container {
  background-image: url("src/assets/bath 2.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-color: rgb(238, 238, 181);
  position: relative;
  width: 1280px;
  height: 720px;
}
.floor {
  position: absolute;
  z-index: 0;
  height: 145px;
  width: 1280px;
  bottom: 0px;
  background: linear-gradient(
    0deg,
    rgba(130, 162, 197, 1) 0%,
    rgba(97, 118, 140, 1) 100%
  );
}
